---
site_title: Happy Baby
site_subtitle: the Movie
deck:
  - The first feature film from
  - The Rumpus
  - directed by Stephen Elliott
  - based on the novel Happy Baby
nav:
  -
    title:
      - About
      - The Movie
    slug: about
    url: /about/
  -
    title:
      - See the
      - Photos
    slug: photos
    url: /photos/
---
<!doctype html>
<html>
{% include head.html %}
<body class="{{ page.class }}">
	{% include header.html %}
	{{ content }}
	{% include footer.html %}
</body>
</html>