---
site_title: Happy Baby
site_subtitle: the Movie
deck:
  - The first feature film from
  - The Rumpus
  - directed by Stephen Elliott
  - based on the novel Happy Baby
nav:
  -
    title: About
    slug: about
    url: /about/
  -
    title: Photos
    slug: photos
    url: /photos/
  -
    title: Donations
    slug: donations
    url: /donations/
  -
    title: Volunteers
    slug: volunteers
    url: /volunteers/
  -
    title: Extras
    slug: extras
    url: /extras/
---
<!doctype html>
<html>
{% include head.html %}
<body class="{{ page.class }}">
	{% include header.html %}
	{{ content }}
	{% include footer.html %}
</body>
</html>