<header>
	<h1>
		{% if page.section == 'home' %}
			<span>Happy</span> <span>Baby</span>
		{% else %}
			<a href="/"><span>Happy</span> <span>Baby</span></a>
		{% endif %}
	</h1>
	<nav>
		<ul>
		{% for item in page.nav %}
			<li class="
				{% if forloop.first %}first{% endif %}
				{% if forloop.last %}last{% endif %}
				{% if item.slug == page.section %}active{% endif %}
				{{ item.slug }}
			">
				<a href="{{ item.url }}">
					<span class="title1">{{ item.title[0] }}</span>
					<span class="title2">{{ item.title[1] }}</span>
				</a>
			</li>
		{% endfor %}
		</ul>
	</nav>
</header>
