<head>
<title>Happy Baby, the Movie</title>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic|PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic,700italic|Abril+Fatface|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:700|Playfair+Display+SC:400,700,900,400italic,700italic,900italic|Merriweather:400,900,700,300|Old+Standard+TT:400,700,400italic' rel='stylesheet' type='text/css'>
{% css_asset_tag global %}
- /_assets/css/main.less
{% endcss_asset_tag %}
</head>
