@import "_less/reset";

@red: #831519;
@red: #8D0C19;

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.4;
	text-rendering: optimizeLegibility;
}

a {
	color: @red;
	-webkit-transition: color 300ms, opacity 300ms;
	-moz-transition: color 300ms, opacity 300ms;
	transition: color 300ms, opacity 300ms;
	&:hover {
		color: lighten(@red, 10%);
	}
}

img { max-width: 100%; }

hr {
	border: none;
	border-top: 1px solid rgba(255,255,255,.15);
	border-bottom: 1px solid rgba(0,0,0,.2);
	margin: 1em auto;
}

header {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	background: @red;
	color: white;
	padding: 20px 0;
	background-repeat: repeat;
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			color: mix(white, @red, 80%);
		}
	}
	h1 {
		font-weight: 800;
		font-size: 4em;
		text-transform: uppercase;
		background: url(/assets/img/facepalm.png) 0 50% no-repeat;
		display: inline-block;
		padding: 0 80px 0 160px;
		height: 170px;
		line-height: 170px;
		margin: -40px auto;
	}
	nav {
		font-size: 1.5em;
		text-transform: uppercase;
		letter-spacing: .05em;
		padding: 10px 0;
		overflow: hidden;
		ul {
			li {
				display: inline;
				a {
					display: inline;
					padding: 0 10px;
					color: mix(white, @red, 60%);
				}
				&.active a {
					color: white;
				}
				&:after {
					content: "/";
					color: mix(black, @red, 25%);
				}
				&.last {
					&:after {
						content: "";
					}
				}
			}
		}
	}
}

article {
	font-family: 'PT Serif', serif;
	margin: 3em auto;
	padding: 0 3em;
	max-width: 35em;
	body.wide & { max-width: none; }
	body.centered & { text-align: center; }
	h1, h2, h3 { font-weight: 600; }
	h1 { font-size: 2em; }
	h2 { font-size: 1.5em; }
	p {
		margin: 1.4em 0;
	}
	ul {
		list-style: square;
		margin: 1.5em;
	}
	em, cite {
		font-style: italic;
	}
	strong {
		font-weight: bold;
	}
	blockquote {
		margin: 1.5em;
	}
	ol {
		list-style: decimal;
		li {
			margin: 0 1.5em;
		}
	}
	li {
		p {
			margin-top: 0;
		}
	}
	figure {
		margin: 2.8em 0;
		p { margin: 0; }
	}
}

footer {
	background: @red;
	color: white;
	font-weight: 600;
	text-align: center;
	padding: 15px 0;
}