---
layout: default
section: home
permalink: /
testimonials:
  -
    quote: |
      I've always considered <cite>Happy Baby</cite> my favorite Stephen Elliott book, and we at McSweeney's were very proud to have a hand in publishing it. I feel like I know every word in the book, and not just because I did a line edit or two on it. It's written with such unvarnished, raw power, such unparalleled honesty, that it begins to feel like these are your own memories, that this was your own life. I'm happy that Stephen's making a movie out of it. The unique structure of it will translate well, and I think because the material is so personal to Steve, the result will be something very potent.
    attribution: Dave Eggers
  -
    quote: One of my favorite books of the decade.
    attribution: Maud Newton
letter: |
  Welcome... Bespoke cupidatat four loko freegan ullamco gluten-free, trust fund odd future cardigan small batch disrupt plaid non assumenda. Austin pop-up minim portland, retro VHS sed tempor chillwave craft beer. Scenester ut vinyl kogi ennui bicycle rights williamsburg. Aliqua fingerstache sustainable ugh letterpress, odio proident helvetica food truck master cleanse stumptown mcsweeney's sed.
  
  Readymade Austin scenester small batch occupy. Incididunt biodiesel thundercats marfa american apparel qui selvage, ea cliche. Cupidatat ethnic meh, try-hard trust fund tonx ugh cardigan voluptate kale chips nihil bushwick ut ethical.
  
  Pork belly pitchfork placeat ea, exercitation four loko ugh stumptown food truck brunch art party 8-bit sartorial synth consequat. Keffiyeh occupy raw denim odd future viral authentic incididunt master cleanse, polaroid consectetur nisi semiotics narwhal quinoa ullamco. Aute raw denim cupidatat est. Whatever pop-up qui, nulla proident vero plaid keytar placeat 90's. Shoreditch 90's anim, +1 duis mcsweeney's street art organic authentic pitchfork mustache vegan mollit. Beard gastropub enim, odd future consectetur culpa fugiat helvetica disrupt adipisicing keffiyeh carles squid iphone. Occaecat quis labore, truffaut umami skateboard mumblecore assumenda.
  
  ---Stephen
social:
  -
    label: Kickstarter
    icon: kickstarter
    url: http://google.com/
  -
    label: Facebook
    icon: facebook
    url: http://google.com/
  -
    label: Twitter
    icon: twitter
    url: http://google.com/
  -
    label: Subscribe
    icon: mail
    url: http://google.com/
---

<div id="main">
	<article id="content">
		<h1>Let’s make a movie!</h1>
		{{ page.letter | markdownify }}
		{% for testimonial in page.testimonials %}
			<hr>
			<blockquote>
				{{ testimonial.quote | markdownify }}
				<cite>—{{ testimonial.attribution }}</cite>
			</blockquote>
		{% endfor %}
	</article>
	<aside id="sidebar">
		<section class="centered">
			<h2>Presented by</h2>
			<div>
				<a href="http://therumpus.net"><img src="/assets/img/rumpus-bw-sm.png"></a>
			</div>
		</section>
		<section>
		<h2>Follow Happy Baby</h2>
			<ul class="social">
				{% for link in page.social %}
					<li>
						<a href="{{ link.url }}">
							<i class="icon ss-{{ link.icon }}"></i>
							{{ link.label }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section>
			<h2>Latest Dispatches</h2>
			<a class="twitter-timeline" href="https://twitter.com/HappyBabyMovie" data-widget-id="318534284044537856">Tweets by @HappyBabyMovie</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</section>
	</aside>
</div>