---
layout: default
section: home
permalink: /
testimonials:
  -
    quote: |
      I've always considered <cite>Happy Baby</cite> my favorite Stephen Elliott book, and we at [McSweeney's](http://www.mcsweeneys.net) were very proud to have a hand in publishing it. I feel like I know every word in the book, and not just because I did a line edit or two on it. It's written with such unvarnished, raw power, such unparalleled honesty, that it begins to feel like these are your own memories, that this was your own life. I'm happy that Stephen's making a movie out of it. The unique structure of it will translate well, and I think because the material is so personal to Steve, the result will be something very potent.
    attribution: <a href="http://www.mcsweeneys.net/pages/about-dave-eggers">Dave Eggers</a>
  -
    quote: One of my favorite books of the decade.
    attribution: <a href="http://maudnewton.com/blog/">Maud Newton</a>
letter: |
  Hi! Welcome to the <cite>Happy Baby</cite> movie website.
  
  We're shooting a movie in New York City, based on the novel Happy Baby, beginning May 14th and wrapping June 8th. And we'd love to get you involved.
  
  The funding for <cite>Happy Baby</cite> came almost exclusively through crowdsourcing. We raised $85,000 (on Kickstarter)[http://www.kickstarter.com/projects/706884381/happy-baby-the-movie] to make this movie (well, actually $93,000, but then Kickstarter and Amazon fees took us back to $85,000). After the Kickstarter some more money came in, including a $50,000 investment, for a total production budget of $152,000. It's a lot of money, but at the same time, it's not very much. It's not enough money to pay the director, for example.
  
  <cite>Happy Baby</cite> is a sprawling story with many characters and locations. The movie is divided into five parts, each one earlier than the other, so we're dealing with five different dates: 2014, 2009, 2005, 1995, and 1991. That means we have three different actors just to play the protagonist. We have a scene in a juvenile detention center with forty boys. We need six different apartments, an office, a detention center, a convenience store, and a bus.
  
  From the beginning, starting with fundraising, and continuing with casting, this has been a collaborative process. It's going to be really hard, and a lot of fun. We'd love to get you involved.
  
  —Stephen Elliott
social:
  -
    label: Kickstarter
    icon: kickstarter
    url: http://www.kickstarter.com/projects/706884381/happy-baby-the-movie
  -
    label: Facebook
    icon: facebook
    url: https://www.facebook.com/happybabymovie
  -
    label: Twitter
    icon: twitter
    url: https://twitter.com/happybabymovie
  -
    label: Subscribe
    icon: mail
    url: "mailto:happy-baby-movie+subscribe@googlegroups.com"
---

<div id="main">
	<article id="content">
		<h1>Let’s make a movie!</h1>
		{{ page.letter | markdownify }}
		{% for testimonial in page.testimonials %}
			<hr>
			<blockquote>
				{{ testimonial.quote | markdownify }}
				<cite>—{{ testimonial.attribution }}</cite>
			</blockquote>
		{% endfor %}
	</article>
	<aside id="sidebar">
		<section class="centered">
			<h2>Presented by</h2>
			<div>
				<a href="http://therumpus.net"><img src="/assets/img/rumpus-bw-sm.png"></a>
			</div>
		</section>
		<section>
		<h2>Follow Happy Baby</h2>
			<ul class="social">
				{% for link in page.social %}
					<li>
						<a href="{{ link.url }}">
							<i class="icon ss-{{ link.icon }}"></i>
							{{ link.label }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
		<section>
			<h2>Latest Dispatches</h2>
			<a class="twitter-timeline" href="https://twitter.com/HappyBabyMovie" data-widget-id="318534284044537856">Tweets by @HappyBabyMovie</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</section>
	</aside>
</div>